# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- popular languages for Data Scientist
- common libraries for Data Scientist
- some of Data Science Tools
- examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL
4. Java
5. Julia
6. Scala

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. SciPy
4. Pandas
5. Matplotlib

|Data Science Tools|
|---|
|MS Excel|
|BigML|
|Google Analytics|
|Apache Spark|
|Jupyter Notebook|
|IBM Watson|

### Below are a few examples of evaluating arithmetic expressions in Python

In [16]:
#This a simple arithmetic expression to mutiply then add integers 
(3*4)+5

17

In [17]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Arash Gooya